h1 {
    color:red;
}
p{
    color:black;
}
.Titulos{
    color:red;
}
#segundoParrafo{
    color:black;
}
.caja{
    border: 5px solid black;
    margin: 100px 300px;
    padding: 10px;
}
.contenido{
    border: 5px solid blue;
}